@font-face {
	font-family: AthensClassic;
	src: url("/assets/AthensClassic.ttf");
}

@font-face {
	font-family: FreePixel;
	src: url("/assets/FreePixel.ttf");
}

.center
{
    text-align: center;
}

body
{
    background-color: black;
    font-family: FreePixel, sans-serif;
    width: 900px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.sidebartitle
{
    margin-top: 12px;
    margin-bottom: 0px;
}

details > summary {
    margin-bottom: 8px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
    font-weight: bold;
}
section
{
    background-color:white;
    border: 3px solid gray;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

#header
{
    font-family: AthensClassic, sans-serif;
    font-size: 32px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#container
{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#mainbody
{
    width: 500px;
}

#sidebar
{
    margin-left: 32px;
    width: 30%;
    text-align: left;
}

h2
{
    margin-bottom: 4px;
}

.sidebaricon
{
    vertical-align: middle;
    max-height: 20px;
    max-width: 20px;
    padding-right: 6px;
    padding-bottom: 6px;
    margin-left: -6px;
}

.texticon
{
    vertical-align: middle;
    max-height: 40px;
    max-width: 40px;
    padding-right: 6px;
    padding-bottom: 6px;
    margin-left: -6px;
}

.buttoncontainer
{
    display:flex;
    justify-content: space-between;
}

.sidebarlist
{
    margin-top: 0px;
    padding-left: 12px;
}


.blogimage
{
    object-fit: contain;
    max-width: 100%;
}

.imagecaption
{
    font-style: italic;
    font-size: 14px;
    margin-top: 0px;
    text-align: center;
}